/* Carrinho.css */
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Largura do cartão */
    height: 80px; /* Altura do cartão */
  }
  
  .cart-item:hover {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
  }
  