/* Geral */

body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, #07941c, #84f989);
  min-height: 100vh;
}

/* Header */

.App {
  text-align: center;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-top h3 {
  margin: 0;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

/* Tabelas */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

thead {
  background-color: #f5f5f5;
}

th {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
  table {
    border-radius: 0;
  }

  th,
  td {
    padding: 8px;
  }

  tr {
    display: block;
    margin-bottom: 10px;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 50%;
  }
}

/* Navegação */

.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s, transform 0.3s;
  display: inline-block;
}

.navbar a:hover {
  color: #ff6600;
  transform: scale(1.1);
}

/* Artigo */

.article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

/* Resto dos estilos do artigo... */

/* Layout responsivo */

@media screen and (max-width: 960px) {

  .article-body p {
    display: none;
  }

  .article-body {
    padding-left: 0;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
.product-detail-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product-content {
  margin: auto;
  max-width: 800px; /* ou ajuste conforme necessário */
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #fff;
  margin: 15px;
  max-width: 300px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.product-card h2 {
  font-size: 1.5rem;
  margin: 15px 0;
  color: #333;
}

.product-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.video-links {
  padding: 15px;
}

.video-links h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.video-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.video-links li {
  margin-bottom: 5px;
}

.video-links a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.video-links a:hover {
  text-decoration: underline;
}


/* Rodapé e outros estilos... */
