/* Geral */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, #fdfdfd, #84f989);
  min-height: 100vh;
}

/* Header */

.App {
  text-align: center;
}

.user-actions svg:hover {
  color: #007bff; /* Cor quando o mouse passa por cima */
}

/* Estilo para a quantidade no ícone do carrinho */
.cart-quantity {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: -8px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}

.history {
  text-align: center; /* Centraliza o título 'History' */
}

.textP {
  text-align: justify;
  font-size: 18px; /* Reduzi o tamanho para facilitar a leitura na web */
  line-height: 1.6; /* Aumenta o espaçamento entre linhas para melhor legibilidade */
  margin: 0 auto;
  max-width: 800px;
  padding: 20px; /* Adicionei um espaçamento interno para melhor separação do conteúdo */
}
.ContactCss {
  text-align: center; /* Centraliza todo o conteúdo do componente Contact */
  font-size: 25px;
}

.ContactCss h1,
.ContactCss h2 {
  margin: 10px 0; /* Adiciona margens para espaçamento */
}
/* Carousel.css */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Isso define o container para ocupar toda a altura da tela */
}

.carousel-card {
  width: 80%;
  max-width: 600px;
}
/* Tabelas */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

thead {
  background-color: #f5f5f5;
}

th {
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 600px) {
  table {
    border-radius: 0;
  }

  th,
  td {
    padding: 8px;
  }

  tr {
    display: block;
    margin-bottom: 10px;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 50%;
  }
}

/* Navegação */

/* Estilos padrão do menu */
.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  width: 100%; /* Ocupa toda a largura */
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-items {
  display: flex;
  width: 100%; /* Ocupa toda a largura */
  justify-content: space-between; /* Espaça os itens */
}

.navbar a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  padding: 10px 20px;
}

.navbar a:hover {
  color: #ff6600;
}

/* Estilos para telas menores, onde o menu vira coluna */
@media screen and (max-width: 768px) {
  .menu-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
  }

  .menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: transform 0.3s, opacity 0.3s;
  }

  .show-menu .menu-items {
    display: flex;
  }
}



/* Artigo */

.article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

/* Resto dos estilos do artigo... */

/* Layout responsivo */

@media screen and (max-width: 960px) {

  .article-body p {
    display: none;
  }

  .article-body {
    padding-left: 0;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
.centerList{
  display: flex;
  justify-content: center;
}
.product-detail-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product-content {
  margin: auto;
  max-width: 800px; /* ou ajuste conforme necessário */
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #fff;
  margin: 15px;
  max-width: 300px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.product-card h2 {
  font-size: 1.5rem;
  margin: 15px 0;
  color: #333;
}

.product-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #edba00ad;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #fff;
  margin: 15px;
  max-width: 300px;
}

.card-container {
  display: flex; /* Exibe os cards em linha */
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.video-links {
  padding: 15px;
}

.video-links h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.video-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.video-links li {
  margin-bottom: 5px;
}

.video-links a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.video-links a:hover {
  text-decoration: underline;
}


/* Rodapé e outros estilos... */
.home-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-map {
  flex: 1;
  margin-right: 20px;
}

/* Estilos para dispositivos menores, como smartphones */
@media only screen and (max-width: 600px) {
  /* Defina estilos específicos para telas menores */
  body {
    font-size: 14px;
  }
}

/* Estilos para tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos específicos para tablets */
  body {
    font-size: 16px;
  }
}

/* Estilos para dispositivos maiores, como desktops */
@media only screen and (min-width: 1025px) {
  /* Estilos específicos para desktops */
  body {
    font-size: 18px;
  }
}
